 * { 
    box-sizing: border-box;
    margin: 10px auto;
    /* padding: 0; */
    background-color: rgb(187, 181, 146);
} 

img {
    max-width: 100%;
}
h1 {
    background-color: #CFF8B7;
}
.site-nav {
    background-color: #CFF8B7;
    display: block;
}

.site-nav: hover{
    transform: rotate(180deg);
}

.img {
    border-color: rgb(211, 183, 248);
    border-width: 36px;
    border-style: dotted;
    padding: 3px;
}

.container{
    display: flex;
}

.tab {
    margin-left: 15px;
}

@media screen and (min-width: 800px){
    .container{
        display:flex;
    }
    
    .image {
        width: 50%;
        padding-right: 20px;
    }

    .description {
        with: 50%;
    }
}