 * { 
    box-sizing: border-box;
    margin: 10px auto;
    /* padding: 0; */
    background-color: rgb(187, 181, 146);
} 

h1 {
    background-color: #CFF8B7;
}
.site-nav {
    background-color: #CFF8B7;
}

.img {
    border-color: #CFF8B7;
    border-width: 12px;
    border-style: dashed;
    padding: 3px;
}

.container{
    display: flex;
}

.tab {
    margin-left: 15px;
}